
{% extends 'app.html' %}

{% block title %}- Página Inicial{% endblock title %}
{% block breadcrumb %}
<nav aria-label="breadcrumbs" class="breadcrumb box">
        <ul>
            <li><a href="{% url 'index' %}">Início</a></li>
            <li><a href="{% url 'locationList' %}">Lista de espaços</a></li>
            <li class="is-active"><a>Editar espaço</a></li>
        </ul>
    </nav>
{% endblock breadcrumb %}
{% block content %}
{% comment %} {% load configuracao_tags %} {% endcomment %}
{% load static %}
<div>


	<div style="margin-bottom:3%;margin-top:3%">
    	<h2 class="title is-4"style="text-align: center"> Localização </h2>
	</div>
  	<div class="section">
    <form method="POST" action="" novalidate>{% csrf_token %}
	    <div class="columns">
    	    <div class="column is-6">
				<span> Nome </span>	
				<label>{{ form.name }}</label>
     		</div>
            <div class="column is-6">
                <div class="select is-info" style="margin-top: 3.6%">
                    <select name="locationtype" id="locationtype">
						<option selected disabled> -- Tipo de local -- </option>
                        {% for loctype in locationtypes %}
                            <option value="{{ loctype.0 }}" > {{ loctype.1 }} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            {% comment %} <div class="column is-6">
				<span> Tipo de localização </span>	
				<label>{{ form.locationtype }}</label>
     		</div> {% endcomment %}
    	</div>
		<div class="columns">
            <div class="column is-6">
				<div class="select is-info" style="margin-top: 3.6%">
                    <select id="campus" name="campus">
                        {% comment %} <option> </option> {% endcomment %}
                    	<option selected disabled>--Campus--</option>
						{% for campus in campi %}
                            <option name="{{ campus.1 }}" value="{{ campus.0 }}" > {{ campus.1 }} </option>
                        {% endfor %}
                    </select>
                </div>
     		</div>
    	    <div class="column is-6" id="selectDiv" style="visibility: hidden">
				<div class="select is-info" style="margin-top: 3.6%">
                    <select id="building" name="building">
                    	<option selected disabled>--Edificio--</option>
                    </select>
				</div>
     		</div>
    	</div>
        <div class="columns">
    	    <div class="column is-6">
				<span> Máxima lotação </span>	
				<label>{{ form.maxcapacity }}</label>
     		</div>
            <div class="column is-6">
				<span> Máxima lotação para necessidades especiais </span>	
				<label>{{ form.maxspecialneedscapacity }}</label>
     		</div>
    	</div>
		<button type="submit" class="button is-info is-outlined" onclick="return confirm('Tem a certeza?');">
			<span>Inserir</span>
		</button>
    </form>
  </div>
</div>


<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script>


$("#campus").change(function() {
	var campus = $(this).val();
	$("#selectDiv").css('visibility','visible');
	$.getJSON("{% url 'list_buildings' %}", { campus: campus }, function(building) {
		$("#building").find('option:not(:first)').remove();
		$.each(building, function(key, val) {
			$("#building").append(`<option value="${key}"> ${val} </option>`);
		});
	});

});
</script>

<script>
	$(document).ready(function () {
		$("#locationtype > option").each(function(){
			if({{selected_id_loctype}} == this.value){
				$(this).attr("selected", "selected");
				console.log(this.text + ' ' + this.value);
			}
			else{
				$(this).removeAttr("selected");
			}
		})
	});
</script>

<script>
	$(document).ready(function () {
		$("#campus > option").each(function(){
			if({{selected_id_campus}} == this.value){
				$(this).attr("selected", "selected");
				console.log(this.text + ' ' + this.value);
			}
			else{
				$(this).removeAttr("selected");
			}
		})
	});
</script>

<script>
	$(document).ready(function () {
		$("#building > option").each(function(){
			if({{selected_id_building}} == this.value){
				$(this).attr("selected", "selected");
				console.log(this.text + ' ' + this.value);
			}
			else{
				$(this).removeAttr("selected");
			}
		})
	});
</script>

{% endblock content%}



