
{% extends 'app.html' %}

{% block title %}- Serviço{% endblock title %}

{% block breadcrumb %}
<nav aria-label="breadcrumbs" class="breadcrumb box">
        <ul>
            <li><a href="{% url 'index' %}">Início</a></li>
            <li><a href="{% url 'serviceList' %}">Lista de serviços</a></li>
            <li class="is-active"><a>Adicionar serviços</a></li>
        </ul>
    </nav>
{% endblock breadcrumb %}
{% block content %}
{% comment %} {% load configuracao_tags %} {% endcomment %}
{% load static %}
<div>

    <div style="margin-bottom:3%;margin-top:3%">
    	<h2 class="title is-4"style="text-align: center"> Serviço </h2>
	</div>
  	<div class="section">
    <form method="POST" action="serviceAdd">{% csrf_token %}
	    <div class="columns">
    	    <div class="column is-6" style="margin: 0 auto">
				<span> Nome do serviço </span>
        	    <label> {{ form.name }} </label>
     		</div>
		</div>
	    <div class="columns">
			 <div class="column is-6" style="margin: 0 auto">
				<span> Descrição </span>
        	    <label> {{ form.description }} </label>
     		</div>
		</div>
	    <div class="columns" style="justify-content: center">
            <div class="column is-6" style="display: flex; justify-content: center">
                <div class="select is-info">
                    <select id = "servicestype" name="servicestype">
                    {% comment %} <option> </option> {% endcomment %}
                        <option selected disabled> --   Tipo de serviço   -- </option>
                        {% for servicetype in servicestypes %}
                            <option name="{{ servicetype.1 }}" value="{{ servicetype.0 }}" > {{ servicetype.1 }} </option>
                        {% endfor %}
                    </select>
                </div>
    	    </div>
    	</div>
	    <div class="columns" style="margin-top: 2%">
			<button type="submit" onclick="return confirm('Tem a certeza?');" class="button is-info is-outlined" style="margin: 0 auto ">
				<span>Inserir</span>
			</button>
		</div>

    </form>
  </div>
</div>
{% endblock content%}

