
{% extends 'app.html' %}

{% block title %}- Tipo de serviço{% endblock title %}
{% block breadcrumb %}
<nav aria-label="breadcrumbs" class="breadcrumb box">
        <ul>
            <li><a href="{% url 'index' %}">Início</a></li>
            <li><a href="{% url 'servicesTypeList' %}">Lista de tipos de serviços</a></li>
            <li class="is-active"><a>Adicionar tipos de serviços</a></li>
        </ul>
    </nav>
{% endblock breadcrumb %}
{% block content %}
{% comment %} {% load configuracao_tags %} {% endcomment %}
{% load static %}
<div>

    <div style="margin-bottom:3%;margin-top:3%">
    	<h2 class="title is-4"style="text-align: center"> Tipo de serviço </h2>
	</div>
  	<div class="section">
    <form method="POST" action="servicesType">{% csrf_token %}
	    <div class="columns">
    	    <div class="column is-6" style="margin: 0 auto">
				<span> Nome do tipo de serviço </span>
        	    <label> {{ form.name }} </label>
     		</div>
    	</div>
        <div class="columns">
    	    <div class="column is-6" style="margin: 0 auto">
				<span> Descrição do serviço </span>
        	    <label> {{ form.description }} </label>
     		</div>
    	</div>
	    <div class="columns">
				<button type="submit" onclick="return confirm('Tem a certeza?');" class="button is-info is-outlined" style="margin: 0 auto ">
					<span>Inserir</span>
				</button>
		</div>

    </form>
  </div>
</div>
{% endblock content%}

